*.creator.user
*.am.user
config.h
config.h.in
.deps
.libs
*~
*.o
*.la
*.lo
mate-applet/com.javispedro.topmenu.MatePanelApplet.mate-panel-applet
mate-applet/org.mate.panel.applet.TopMenuMatePanelAppletFactory.service
mate-applet/topmenu-mate-panel-applet
xfce-applet/topmenu.desktop
test/client
test/server
missing
compile
m4/libtool.m4
m4/lt*.m4
ltmain.sh
libtool
texinfo.tex
Makefile
Makefile.in
Makefile.msc
aclocal.m4
autom4te.cache
config.guess
config.log
config.status
config.sub
configure
depcomp
INSTALL
install-sh
stamp-h1
